.label {
    display: inline-flex;
    gap: 4px;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    height: 24px;
    padding: 3px 8px;
    font-weight: var(--font-label-3-weight);
    font-size: var(--font-label-3-size);
    font-family: var(--font-family);
    line-height: var(--font-label-3-line-height);
    border-radius: 100px;
    color: red;
  }